<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos y gastos: {{ pageTitle }}</title>{# Hueco para recibir variable, éste es un comentario de Jinja #}
</head>
<style>
    table, th, td {border:1px solid black;}
</style>
<body>
    <header>
        <h1>Aplicación Flask de Bootcamp Cero XIII</h1>
        <div>
            <a href="/">Inicio</a> |
            <a href="/new">Nuevo</a> |
            <a href="/modify">Modificar</a> |
            <a href="/delete">Eliminar</a> |
        </div>
    </header>
    <section>
        {% block pageBase %}{# Hueco para recibir plantilla html #}
        {% endblock %}
    </section>
    <footer>
        <br>
        @copy, 2022 - Todos los derechos reservados - vero_oso11@hotmail.com
    </footer>
</body>
</html>