{% extends "base.html" %}

{% block pageBase %}

    <h1>Ésto se utilizaría para eliminar registro en la lista de ingresos y gastos</h1>
    <table>
        <tr>
            <td>Fecha:</td>
            <td>{{ requestForm["Fecha"] }}</td>
        </tr>
        <tr>
            <td>Concepto:</td>
            <td>{{ requestForm["Concepto"] }}</td>
        </tr>
        <tr>
            <td>Cantidad:</td>
            <td>{{ requestForm["Cantidad"] }}</td>
        </tr>
    </table>
    <br>
    <form action="/delete/{{ requestForm['id'] }}" method="post">
        <button type = submit>Borrar registro</button>
    </form>
    <br>

    {% endblock %}