{% extends "base.html" %}

{% block pageBase %}

    <h1>Ésto sería la lista de ingresos y gastos</h1>
    <p>Un simulacro de contabilidad</p>

    <table>
        <thead>{# Hace referencia al head de una table #}
            <tr>{# Aquí se declaran títulos #}
                <th>Fecha</th>
                <th>Concepto</th> 
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>{# Hace referencia al body de una table #}
            {% for item in lista %} {# Se repetirá toda estructura dentro #}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>€ {{ item[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="http://127.0.0.1:5000/new">Nuevo</a>{# Etiqueta que sirve para navegar #}
    <br>

{% endblock %}