{% extends "base.html" %}

{% block pageBase %}

    <h1>Ésto se utilizaría para modificar registro en la lista de ingresos y gastos</h1>
    <form>
        <label for="Fecha">Fecha:</label>
        <input type="date" name = "Fecha">
        <br><br>
        <label for="Concepto">Concepto:</label>
        <input type="text" name = "Concepto", placeholder="", value="Valor">
        <br><br>
        <label for="Cantidad">Cantidad:</label>
        <input type="number" name = "Cantidad", placeholder="Ingrese costo">
        <br><br>
        <button onclick = "alert('El registro se modificó con éxito, gracias!')">Actualizar</button>
    </form>
    <br>
    <a href="/">Regresar</a>{# Etiqueta que sirve para navegar #}

{% endblock %}